<div class="center-form">
    <img src="../../../assets/logo.png" alt="logo"/>
    <h3>Enter Your Credentials</h3>
    <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="custom-form">
     
        <nz-form-item>
            <nz-form-control nzErrorTip="Please Input Your Name">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="Enter Email"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Please Input Your Password">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Enter password"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" nzBlock [disabled]="loginForm.invalid" class="w-100">Login</button>
   
    </form>
</div>
