<div class="center-form">
    <button nz-button nzType="primary" class="post-rooms-btn"
     routerLink="/admin/room">Post Room</button>

     <div class="room-container">
        <div class="room-row" *ngFor="let room of rooms">

            <nz-card style="width: 300px; margin: 16px;" [nzActions]="[actionEdit, actionDelete]">
                <nz-skeleton [nzActive]="true" [nzLoading]="'false'" [nzAvatar]="{size: `large`}">
                    <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="{{room.name}}"
                    nzDescription="Type: {{ room.type}}">

                    </nz-card-meta>
                    <nz-card-meta style="margin-left: 49px;" nzDescription="Price: {{ room.price}}"></nz-card-meta>
                </nz-skeleton>
            </nz-card>

            <ng-template #avatarTemplate>
                <nz-avatar 
                nzSrc="...........">
                    
                </nz-avatar>
            </ng-template>
            <ng-template #actionEdit>
                <span nz-icon nzType="edit" [nzTheme]="'twotone'" class="icon">
                </span>
            </ng-template>
            <ng-template #actionDelete>
                <span nz-icon nzType="delete" [nzTheme]="'twotone'" class="icon" [nzTwotoneColor]="'#FF0000'">
                </span>
            </ng-template>
        </div>
     </div>
</div>