
.room-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
}
.room-row{
    border: 2px solid #c7bb19e3;
    margin: 3px;
    border-radius: 10px;
}

nz-card{
    margin-right: 16px;

}
.post-room-btn{
    margin-left: 175px;
    margin-top: 70px;
}

.icon{
    font-size: 20px;
}
.pagination{
    float: right;
    margin-right: 170px;
}